<div class="jumbotron jumbotron-home">
    <div class="container">

    </div>
</div>
<div class="container container-home">
    <div class="row">
        <div class="col-md-4">
            <h2>Origin Story</h2>
            <p>To learn more about why I started programming </p>
            <p><%= link_to "View details", originstory_path, class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Projects</h2>
            <p>To see some cool projects I have worked on please look here</p>
            <p><%= link_to "View details", projects_path, class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Skills</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><%= link_to "View details", skills_path, class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>
